PyQt6==6.8.1
PyQt6-WebEngine==6.8.0
chardet==5.2.0
beautifulsoup4==4.12.3
requests==2.32.3
pygame==2.6.1
numpy==1.26.4
matplotlib==3.9.2
sounddevice
openai
langflow==1.2.0
pydub==0.25.1
ffmpeg==1.4
openai
pydub
